<form class="big_form" action="/bookings/new" method="post">
  
  <label for="member-name">Member Name: </label>
  <select name="member_id" id="member-name">
    <% members = Member.list_all()%>
    <% for member in members do %>
    <% if member.membership_type == 'Gym & Classes' %>
    <option value="<%=member.id%>"><%=member.first_name%> <%=member.last_name%></option>
    <% end %>
    <% end %>
  </select>
  
  <br>
  
  <label for="class">Class: </label>
  <select name="class_id" id="class">
    <% gymclasses = GymClass.list_all() %>
    <% for gymclass in gymclasses do %>
      <% if gymclass.space_left != 0 %>
      <option
        <% if @viewed_class != nil %>
          <%= "selected" if @viewed_class.id == gymclass.id %>
        <% end %>
        value="<%=gymclass.id%>">
        <%=gymclass.name%>, <%=gymclass.day%> at <%=gymclass.start_time%>
      </option>
      <% end %>
  <% end %>
</select>

<br>
<br>

<button type="submit" name="book">Book</button>

</form>
