<form class="big_form" action="/bookings/new" method="post">
  
  
  <label for="member-name">Member Name: </label>
  
  
  <% if GymClass.off_peak_classes_id.include?(@viewed_class.id.to_s) %>
  <select class="" name="member_id" id="member-name">
    <% members = Member.all_class_users() %>
    <% for member in members do %>
    <option value="<%=member.id%>"><%=member.first_name%> <%=member.last_name%></option>
    <% end %>
  </select>
  <% else %>
  <select class="" name="member_id" id="member-name">
    <% members = Member.premium_members() %>
    <% for member in members do %>
    <option value="<%=member.id%>"><%=member.first_name%> <%=member.last_name%></option>
    <% end %>
  </select>
  <% end %>
  
  <br>
  
  <label for="gymclass">Class: </label>
  <select class="" name="class_id">
    <option value="<%=@viewed_class.id%>"><%=@viewed_class.name%>, <%=@viewed_class.day%> at <%=@viewed_class.start_time%></option>
  </select>
  
  <br>
  <br>
  
  <button type="submit" name="book">Book</button>
  
  
</form>
