<form class="big_form" action="/classes/<%=@gymclass.id%>" method="post">
  <label for="name">Class Name: </label>
  <input type="text" name="name" id="name" value="<%=@gymclass.name%>">
  
  <br>
  
  <label for="day">Day: </label>
  <input type="text" name="day" id="day" value="<%=@gymclass.day%>">
  
  <br>
  
  <label for="start-time">Start Time: </label>
  <input type="text" name="start_time" id="start-time" value="<%=@gymclass.start_time%>">
  
  <br>
  
  <label for="duration">Duration: </label>
  <input type="text" name="duration" id="duration" value="<%=@gymclass.duration%>">
  
  <br>
  
  <label for="max-capacity">Maximum Capacity: </label>
  <input type="number" name="max_capacity" id="max-capacity" value="<%=@gymclass.max_capacity%>">
  
  <input hidden type="number" name="booked_spaces" value="<%=@gymclass.booked_spaces%>">
  
  <br>
  
  <button type="submit" name="update">Update Class Details</button>
</form>
