<div class="main">
  <div class="side_nav">
    <p><a href="/classes/all">View All Classes</a></p>
    <p><a href="/bookings/all">View All Bookings</a></p>
    <p><a href="/classes/new">Add a New Class</a></p>
  </div>
  
  
  <div class="all_info">
    
    <h3>All Classes</h3>
    <% for gymclass in @gymclasses do %>
    <p>Name: <%= gymclass.name %></p>
    <p>Day & Time: <%= gymclass.day %>, <%= gymclass.start_time %>
    <p>Number of members taken class: <%= gymclass.list_members.count%></p>
    <p><a href="/classes/<%=gymclass.id%>">More Details</a></p>
    <p><a href="/bookings/new/<%=gymclass.id%>">Book A Member Into Class</a></p>
    <hr/>
    <% end %>
    
  </div>
</div>
